<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="app_id">serviceUI</Property>
        <Property name="log_path">logs</Property>
        <Property name="app_name">serviceUI</Property>
        <Property name="pattern">${app_id}-%d{yyyy-MM-dd HH:mm:ss,SSS}|%-5level|%t|%c{5.}.%M:%L|%replace{%msg}{\s+}{ }%n</Property>
        <Property name="pattern_none_location">${app_id}-%d{yyyy-MM-dd HH:mm:ss,SSS}|%-5level|%t|%replace{%msg}{\s+}{ }%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="info_file" fileName="${log_path}/info_${app_id}.log" filePattern="logs/$${date:yyyy-MM}/${app_id}_info-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="error_file" fileName="${log_path}/error_${app_name}.log" filePattern="${log_path}/$${date:yyyy_MM_dd}/error_${app_id}_%d{yyyy_MM_dd_HH}.log.gz">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="2GB"/>
            </Policies>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!--
        <Logger name="org.springframework.cloud.stream.binder.rabbit" level="info" /> &lt;!&ndash;stream使用&ndash;&gt;-->
        <Logger name="org.springframework.boot.autoconfigure" level="debug" includeLocation="true" />
        <Root level="info" includeLocation="false">
            <AppenderRef ref="info_file"/>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="error_file"/>
        </Root>
    </Loggers>
</Configuration>